In [121]:
# Import Libraries

import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, mean_absolute_error, mean_absolute_percentage_error 
df = pd.read_csv("insurance.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

In [122]:
df.head(5)

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [123]:
df = pd.get_dummies(df,columns=["sex","smoker","region"],drop_first=True,dtype='int')

In [124]:
df.head(3)

,age,bmi,children,charges,sex_male,smoker_yes,region_northwest,region_southeast,region_southwest
0,19,27.90,0,16884.9240,0,1,0,0,1
1,18,33.77,1,1725.5523,1,0,0,1,0
2,28,33.00,3,4449.4620,1,0,0,1,0

In [125]:
y = df[["charges"]]
x = df.drop("charges",axis=1)

In [126]:
# Create Model
linear_reg = LinearRegression()
linear_model = linear_reg.fit(x, y)

# Model Score
linear_model.score(x, y)

0.7509130345985207

In [127]:
df_error = pd.DataFrame()
df_error["actual"] = y

In [128]:
df_error

           actual
0     16884.92400
1      1725.55230
2      4449.46200
3     21984.47061
4      3866.85520
...           ...
1333  10600.54830
1334   2205.98080
1335   1629.83350
1336   2007.94500
1337  29141.36030

[1338 rows x 1 columns]

In [129]:
y_predict = linear_model.predict(x)
df_error["predict"] = y_predict

In [130]:
df_error.head()

        actual       predict
0  16884.92400  25293.713028
1   1725.55230   3448.602834
2   4449.46200   6706.988491
3  21984.47061   3754.830163
4   3866.85520   5592.493386

In [131]:
df_error["error"] = y - y_predict

In [132]:
df_error.head()

        actual       predict         error
0  16884.92400  25293.713028  -8408.789028
1   1725.55230   3448.602834  -1723.050534
2   4449.46200   6706.988491  -2257.526491
3  21984.47061   3754.830163  18229.640447
4   3866.85520   5592.493386  -1725.638186

In [133]:
# MSE - Mean Squared Error
df_error["MSE"] = df_error["error"] ** 2

# MAE - Mean Absolute Error
df_error["MAE"] = np.abs(df_error["error"])

#  Percent Error
df_error["percent_error"] = np.abs((y - y_predict)/y)

In [134]:
df_error.head()

,actual,predict,error,MSE,MAE,percent_error
0,16884.92400,25293.713028,-8408.789028,7.070773e+07,8408.789028,0.498006
1,1725.55230,3448.602834,-1723.050534,2.968903e+06,1723.050534,0.998550
2,4449.46200,6706.988491,-2257.526491,5.096426e+06,2257.526491,0.507371
3,21984.47061,3754.830163,18229.640447,3.323198e+08,18229.640447,0.829205
4,3866.85520,5592.493386,-1725.638186,2.977827e+06,1725.638186,0.446264

In [135]:
df_error.mean()

actual           1.327042e+04
predict          1.327042e+04
error            6.471143e-13
MSE              3.650189e+07
MAE              4.170887e+03
percent_error    4.203527e-01
dtype: float64

In [136]:
mean_squared_error(y, y_predict)

36501893.00741544

In [137]:
mean_absolute_error(y, y_predict)

4170.8868941635865

In [138]:
mean_absolute_percentage_error(y, y_predict)

0.42035268473727033